*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
.top-menu{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
.top-list ul{
    display: flex;
    list-style: none;
    
    
}
.top-list a{
    text-decoration: none;
    margin-left:30px;
    font-size: 15px;
    color: black;
    font-weight: 400;
    
}